body {
    background: url(/images/triangles-bg-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

html {
    height: 100%;
}

* {
    color: white;
}

select, .form-control {
    color: black;
    background-color: white;
}

select option {
    color: black;
    background-color: white;
}

.nav {
    background-color: darkslategray;
}

.tab-content {
    background-color: rgba(86,61,124,0.15);
    border: 1px solid rgba(86,61,124,0.15);
    padding: 2em;
}

.text-danger.validation-summary-errors li, #Password-error, #Username-error{
    color: red;
}

a {
    color: #9eff9e;
    text-decoration: none;
}

a:hover {
    color: #ffffcc;
}

#nav-tab .nav-link:not(.active) {
    color: #9eff9e;
    text-decoration: none;
}

#nav-tab .nav-link:not(.active):hover {
    color: #ffffcc;
}

#two-FA-link.btn.btn-link {
    color: #9eff9e;
    text-decoration: none;
}

#two-FA-link.btn.btn-link:hover {
    color: #ffffcc;
}