@{
    ViewBag.Title = "About and Contact";
}
<main aria-labelledby="title">
    <header>
        <h1>@ViewBag.Title</h1>
    </header>

    <section class="about-section">
        <p>I am a graduate from Arizona State University under the IRA Fulton Schools of Engineering. I decided to make a banking website to showcase the skills I have learned.</p>
    </section>

    <section class="contact-section">
        <h2>Contact Information</h2>
        <address>
            <strong>Email Address:</strong> <a href="mailto:JSlush95@gmail.com">JSlush95@gmail.com</a>
        </address>
    </section>
</main>