@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Slush Banking</h1>
        <p class="lead">This website is a mockup (fake) program that emulates bank account management. It uses C#, Razor HTML with Bootstrap.</p>
        @*href="#" class="btn btn-primary btn-md">Learn more &raquo;</a></p>*@<p><a
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                The sus, amogus.
            </p>
        </section>
    </div>
</main>