@{
    ViewBag.Title = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/global_background.css" />
</head>

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Slush Banking</h1>
        <p class="lead">This website is a mockup (fake) program that emulates bank account management. It uses C#, ASP.Net Identity with Razor HTML and Bootstrap.</p>
    </section>
    <br />
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                The sus, amogus.
            </p>
        </section>
    </div>
</main>