@{
    ViewBag.Title = "Email Confirmation";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/global_background.css" asp-append-version="true" />
</head>

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <div>
        <br />
        <p>
            Thank you for confirming your email.
            @*Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
        </p>
    </div>
</main>
